/* Containers */

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  //font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.content-width {
  max-width: 134rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;

  @include mobile900 {
    padding: 0 2rem;
  }
}

/* End Containers */

/* Remove outline */

a {
  text-decoration: none;
  outline: none !important;
}

/* End Remove outline */

/* Headers */

h1, h2, h3 {
  font-weight: 900;
  color: $header-text-color;
}

h1 {
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: -0.05em;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -0.05em;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 3.4rem;
  line-height: 3.4rem;
  letter-spacing: -0.03em;
  margin-bottom: 1.2rem;
}

/* End Headers */

/* Paragraph */

p {
  color: $main-text-color;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -0.01em;
  margin: 0;
}

/* End Paragraph */

/* List */

ul {
  text-align: left;
  list-style-type: none;

  li {
    position: relative;
    color: $main-text-color;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    padding-left: 2.8rem;

    &:before {
      content: "";
      position: absolute;
      left: 1.1rem;
      top: 1.1rem;
      width: .6rem;
      height: .6rem;
      background-color: $main-text-color;
      border-radius: 50%;
    }
  }
}

/* End List */

/* Buttons */

.main-btn, .secondary-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  border-radius: 1.2rem;
  transition: color .3s, background-color .3s, opacity .3s;

  &:hover {
    opacity: .7;
  }
}

.main-btn {
  max-width: 36.6rem;
  padding: 2rem 0;
  background-color: $active-color;
  color: $button-main-text-color;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
}

.secondary-btn {
  background-color: $button-secondary-bg;
  color: $button-secondary-text-color;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.03em;

  &.active {
    background-color: $active-color;
    color: $button-main-text-color;
  }
}

/* End Buttons */

/* Wrap fix */
.nowrap {
  white-space: nowrap;
}
/* End Wrap fix */